.categories
  - @categories.each do |category|
    = category.name
.content
  - @courses.each do |course|
    .course
      .name 
        Назва:
        = course.name
      .price
        Ціна:
        = course.price
      .organizer
        Організатор:
        = course.organizer
      .start_date
        Дата початку:
        = course.start_date
      .contacts
        %table
          %tr
            %td
              Повне ім'я
            %td
              Телефон
            %td
              E-mail
          - course.contacts.each do |contact|
            %tr
              %td
                = contact.name
              %td
                = contact.phone
              %td
                = contact.email